<div class="embedded-showcase">
  <h1>React embedded in Angular</h1>
  <div class="my-component-wrapper">
    <app-my-component
      [counter]="counter"
      (componentClick)="handleOnClick($event)"
    ></app-my-component>
  </div>

  <button
    (click)="ChangeScannerState($event)"
    [ngStyle]="{ marginTop: '40px', marginBottom: '40px', fontSize: '20px' }"
  >
    {{ ScannerHidden === true ? "Show" : "Hide" }}
  </button>

  <qr-code-scanner
    *ngIf="ScannerHidden === false; else elseBlock"
    [ngStyle]="{ width: '300px', height: '300px' }"
  ></qr-code-scanner>
  <ng-template #elseBlock>Click on Button to open Scanner</ng-template>
</div>
